<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anymore.wanandroid.browse">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.anymore.andkit.AndkitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/wb_module_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/wa_AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".FragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SchemeNavigateActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="github.com"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>
    </application>
</manifest>
