<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anymore.wanandroid.mine">

    <application>
        <activity android:name="com.anymore.wanandroid.mvp.view.activity.TodoTabActivity" />
        <activity android:name="com.anymore.wanandroid.mvp.view.activity.TodoActivity"/>
        <activity android:name="com.anymore.wanandroid.mvp.view.activity.FlutterActivity"/>
    </application>
</manifest>