<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anymore.wanandroid.mine">

    <application>
        <activity
            android:name="com.anymore.wanandroid.mvp.view.activity.TodoTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anymore.wanandroid.mvp.view.activity.TodoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anymore.wanandroid.mvp.view.activity.FlutterActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>