<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anymore.wanandroid.user">

    <application>
        <activity
            android:name=".mvvm.view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.view.RegisterActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>