<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anymore.wanandroid.browse">

    <application>
        <activity
            android:name=".FragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SchemeNavigateActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <data
                    android:path="/navigate"
                    android:host="web"
                    android:scheme="wanandroid" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter>
                <data
                    android:host="github.com"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>
</manifest>
