<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anymore.wanandroid.articles">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ArticlesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/wa_discovery"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/wa_AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".mvvm.view.activity.KnowledgesTabActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvvm.view.activity.ArticlesSearchActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
