<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anymore.wanandroid.articles" >

    <application>
        <activity android:name="com.anymore.wanandroid.mvvm.view.activity.KnowledgesTabActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
